<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/search.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="todo_app">
      <h1>Search profile</h1>
      <form action="/data" method="get">
        <input
          class="input_todo"
          name="content"
          type="text"
          id="todo"
          placeholder="Write something..."
        />
        <button class="add_button">Add</button>
      </form>
    </div>
  </body>
</html>
